* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom, #165aa9 0%, #11045b 100%);
  margin: 0;
  padding: 0;
}
.btn {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/*Header*/
/*navigation*/
div.login {
  justify-content: flex-end;
}

nav div.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  min-height: 10vh;
}

div.container-fluid a {
  display: flex;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed; /*always be on top*/
  top: 0;
  left: 0;
  padding: 0 4%; /*left and right*/
  background: #0c111b;
  z-index: 9;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
  align-self: center;
}

.navbar {
  background-color: #09063d;
  color: #faeded;
}

.navbar ul,
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 20px;
}

.navbar li,
.footer-links li {
  font-size: 20px;
}

/* Style the links on hover */
.navbar a,
.footer-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);

  /* Darker text color */
  transition: color 0.3s, text-decoration 0.3s;
  /* Add smooth transitions JUST ADDED*/
}

/* Add blue color and underline on hover */
.navbar a:hover,
a:hover {
  color: #48caeb;
  /* Blue color */
  text-decoration: underline;
  background: linear-gradient(120deg, #5b0587, #ff0080, #ee3ce8);
  /* background-size: 200% 200%; */
  -webkit-background-clip: text;

  font-size: 1.9rem;
  /* transform: scale(1.1,1.1); */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* User */
.user {
  background-color: white;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 100%;
}

/*Footer Social icon*/
.social-icon {
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  min-height: 10vh;
  color: white;
  font-size: 1.25rem;
}
