* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  background-image: linear-gradient(to bottom, #165aa9 0%, #11045b 100%);
  margin: 0;
  padding: 0;
}
.btn {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/*Header*/
/*navigation*/
div.login {
  justify-content: flex-end;
}

nav div.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  min-height: 10vh;
}

div.container-fluid a {
  display: flex;
}

.navbar {
  width: 100%;
  height: 10vh;
  /* position: fixed; always be on top */
  top: 0;
  left: 0;
  padding: 0 4%; /*left and right*/
  /* background: #0c111b; */
  background-color: #09063d;
  color: #faeded;
  z-index: 9;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
  align-self: center;
}

.navbar ul,
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0px 20px;
}

.navbar li,
.footer-links li {
  font-size: 20px;
}

/* Style the links on hover */
.navbar a,
.footer-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);

  /* Darker text color */
  transition: color 0.3s, text-decoration 0.3s;
  /* Add smooth transitions JUST ADDED*/
}

/* Add blue color and underline on hover */
.navbar a:hover,
a:hover {
  color: #48caeb;
  /* Blue color */
  text-decoration: underline;
  background: linear-gradient(120deg, #5b0587, #ff0080, #ee3ce8);
  /* background-size: 200% 200%; */
  -webkit-background-clip: text;

  font-size: 1.9rem;
  /* transform: scale(1.1,1.1); */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User */
.user {
  background-color: white;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 100%;
}

/*Footer Social icon*/
.social-icon {
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  height: 10vh;
  color: white;
  background-color: #09063d;
  /* font-size: 1.25rem; */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.App-background-Logo > img {
  padding-top: 50px;
  height: 300px;
  width: auto;
  object-fit: contain;
  /* display: block; */
}

.trending-page {
  height: 100%;
  width: 100vw;
  padding-bottom: 100px;
  text-align: center;
}

.trending-page > h2 {
  color: white;
  font-size: 3rem;
  padding: 25px 0;
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(4, 10%);
  grid-template-rows: repeat(5, 20%);
  justify-items: center;
  justify-content: center;
  gap: 20px 0;
}

.trending-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: scroll;
  padding: 25px 25px;
  width: 100vw;
}

.trending-list > h2 {
  position: sticky;
  left: 0px;
  z-index: 1;
  color: white;
  /* background-color: lightgray; */
  opacity: 0.8;
  font-size: 2em;
  text-shadow: 3px 3px 8px black;
  padding: 5px;
  text-align: center;
  align-self: center;
}

.movie-container {
  position: relative;
  height: 200px;
  width: 150px;
}

.movie-poster {
  opacity: 1;
  display: block;
  object-fit: contain;
  height: 100%;
  /* width: 100%; */
  transition: 0.5s ease;
}

.movie-details {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 150px;
  top: 50%;
  left: 50%;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie-details::-webkit-scrollbar {
  display: none;
}

.movie-container:hover .movie-details {
  opacity: 0.8;
}

.movie-details > h3 {
  font-size: 1.2em;
  padding: 10px 5px 5px;
}

.movie-details p {
  font-size: 14px;
  line-height: 1.30;
  padding: 8px 8px;
}

/*NavigationGenre*/
.image-button {
  border: 1px solid red;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.image-button img {
  width: 200px;
}

.video-card-container {
  display: flex;
  justify-content: space-between;
}

.hover-poster {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  height: 100%; /* Make the poster fill the entire height of the button */
  width: 100%; /* Make the poster fill the entire width of the button */
}

.poster {
  display: none;
}

.image-button:hover .poster {
  display: block;
}

.image-button:hover .hover-poster {
  opacity: 1;
}
/*End of NavigationGenre*/
